<div class="main-dialog" *ngIf="type=='confirm'">
    <div class="dialog-inner">
        <div class="dialog-title">{{title}}</div>
        <pre class="dialog-text">{{content}}</pre>
    </div>
    <div class="dialog-buttons">
        <span class="dialog-button" (click)="dismiss()">{{cancelText}}</span>
        <span class="dialog-button dialog-button-confirm" (click)="close()">{{confirmText}}</span>
    </div>
</div>

<div class="main-dialog" *ngIf="type=='alert'">
    <div class="dialog-inner">
        <div class="dialog-title">{{title}}</div>
        <pre class="dialog-text">{{content}}</pre>
    </div>
    <div class="dialog-buttons">
        <span class="dialog-button" (click)="close()">{{confirmText}}</span>
    </div>
</div>

<div class="main-dialog" *ngIf="type=='prompt'">
    <div class="dialog-inner">
        <div class="dialog-title">{{title}}</div>
        <pre class="dialog-text">{{content}}</pre>
        <div class="dialog-input">
            <input type="text" placeholder="" [(ngModel)]="dialogValue">
        </div>
    </div>
    <div class="dialog-buttons">
        <span class="dialog-button dialog-button-confirm" (click)="close()">{{confirmText}}</span>
        <span class="dialog-button" (click)="dismiss()">{{cancelText}}</span>
    </div>
</div>

<div class="main-dialog" *ngIf="!type">
    <div class="dialog-inner">
        <div class="dialog-title">{{title}}</div>
    </div>
    <ng-content></ng-content>
    <div class="dialog-buttons">
        <span class="dialog-button btn-bind-color" (click)="close()">{{confirmText}}</span>
    </div>
</div>
